<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>476362016123-1bbp51q7ssb0b1lvjjcvftau4qgsvihr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.476362016123-1bbp51q7ssb0b1lvjjcvftau4qgsvihr</string>
	<key>API_KEY</key>
	<string>AIzaSyDGN9USXnDU-QJH_Nr23ScM-GeXPYGxUs4</string>
	<key>GCM_SENDER_ID</key>
	<string>476362016123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Reof.Contact</string>
	<key>PROJECT_ID</key>
	<string>contactinfo-cf1f7</string>
	<key>STORAGE_BUCKET</key>
	<string>contactinfo-cf1f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476362016123:ios:0240ab3399c1757469a9de</string>
</dict>
</plist>