<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>845672222430-tj0s4g1j92kbtevkqlphvvohj10dl7n0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.845672222430-tj0s4g1j92kbtevkqlphvvohj10dl7n0</string>
	<key>API_KEY</key>
	<string>AIzaSyA3lXZhBgnZ4wY4uGP6d3lnb5yyfFMDyL4</string>
	<key>GCM_SENDER_ID</key>
	<string>845672222430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Nosaibah.Contacts</string>
	<key>PROJECT_ID</key>
	<string>contacts-d0bcd</string>
	<key>STORAGE_BUCKET</key>
	<string>contacts-d0bcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845672222430:ios:0ffd9d4df1f2096b69bc4f</string>
</dict>
</plist>