<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1075070060522-ni4mr7tid97hv54b51arfgkpq3g6l7i4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1075070060522-ni4mr7tid97hv54b51arfgkpq3g6l7i4</string>
	<key>API_KEY</key>
	<string>AIzaSyByU7vTE4wXCaRH9r20nONGBt-K_Jlv5qo</string>
	<key>GCM_SENDER_ID</key>
	<string>1075070060522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-.testForAuth</string>
	<key>PROJECT_ID</key>
	<string>auth-3764d</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-3764d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075070060522:ios:e8c6d370daba067e359493</string>
</dict>
</plist>