<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>149471092107-vfjjergj3quf8uqc66u2m742uhbdnggl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.149471092107-vfjjergj3quf8uqc66u2m742uhbdnggl</string>
	<key>API_KEY</key>
	<string>AIzaSyAwsOSEhovc-5AGW8lpMDdhSUeTCeN403E</string>
	<key>GCM_SENDER_ID</key>
	<string>149471092107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.LogIn</string>
	<key>PROJECT_ID</key>
	<string>login-fd8e6</string>
	<key>STORAGE_BUCKET</key>
	<string>login-fd8e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149471092107:ios:a3e4962c4a56ab09bd638e</string>
</dict>
</plist>